
.display-image-banner{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap; 
    margin-left: auto;
    margin-right: auto;
    width: 75%;
  }
  
  
  .nes-btn{
    background: #26a69a; 
    border: none; 
    padding: 10px 20px; 
    color: white; 
  }

  .nes-textarea{
    padding: 10px; 
    width: 50%; 
    border: none; 
    background: lightgrey; 


  }
  .w3-content {
    margin-top:100px;
  }