html {
	font-size: 62.5%
}
*, *::before, *::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  background-color:#E8E8E8;
}
nav ul a,
nav .brand-logo {
  color: #444;
}

p {
  line-height: 2rem;
}
.section {
  top:0%;
}
.sidenav-trigger {
  color:#3CB371;
}

.parallax-container .section {
  min-height: 90vh;
  line-height: 0;
  height: auto;
  color: black;
  }
.photo {
  width: 80%;
  height: auto;
  margin: 6rem;
}
@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}
video {
  height: 90rem;
  color:white;
  opacity: 80%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.text-title{
  margin: 15rem;
}
.text{
  color: black;
  font-size: 2rem;
}

.member-title {
  font-family: 'Liu Jian Mao Cao', cursive;
}
.creater_img{
  width:20%;
  height: auto;
}
.creaters{
  position: relative;
  height: 70vh;
}
.creater_img {
  clip-path: circle(35% at 50% 50%);
}
.creater_text{
  font-size:2rem;
}
.veda_img {
  position: absolute;
  top: 20%;
  left: 5%;
}
.veda:hover .overlay {
  opacity: 1;
}
.overlay{
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}
.creater_veda{
  position: absolute;
  top: 25%;
  left: 25%;  
}
.corn_img {
  position: absolute;
  top: 40%;
  left: 20%;
}
.corn:hover .overlay {
  opacity: 1;
}
.creater_corn{
  position: absolute;
  top: 45%;
  left: 40%;  
}
.sarah_img {
  position: absolute;
  top: 70%;
  left: 5%;
}
.sarah:hover .overlay {
  opacity: 1;
}
.creater_sarah{
  position: absolute;
  top: 75%;
  left: 25%;  
}
.soon_img{
  height: 30%;
  width: 100%;
}
.near_img{
  height: 10%;
  width: 100%;
}
.pix{
  width: 7rem;
  height: auto;
}

.title center{
  color: darkblue; 
}


 